<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>課題一覧 | 課題アプリケーション</title>
</head>
<body>
<h1>課題一覧</h1>
<a href="../index.html" th:href="@{/}">トップページ</a>
<a href =" ./creationForm.html " th:href =" @{/issues/creationForm} " >作成</a>
<table>
    <thead>
    <tr>
        <th>
            #
        </th>
        <th>
            概要
        </th>
    </tr>
    </thead>
    <tbody>
    <!-- 各「issue」について「issueList」内を反復処理します -->
    <tr th:each="issue : ${issueList}">
        <!-- テーブルヘッダーセルに、現在の「issue」の「id」が表示されます -->
        <th th:text="${issue.id}">(id)</th>
        <td>
            <!-- アンカータグは、現在の「issue」の詳細ページへのリンクを表します -->
            <!-- th:href属性は動的にURLを生成します -->
            <!-- '/issues/{issueId}'はURLのパターンであり、'{issueId}'は実際の'id'に置き換えられます -->
            <!-- '(issueId=${issue.id})'は現在の「issue」のidをURLに挿入します -->
            <a href="./detail.html" th:href="@{/issues/{issueId}(issueId=${issue.id})}" th:text="${issue.summary}">
            (summary)
                <!-- リンクのテキストは、現在の「issue」の「summary」です -->
                <!-- サマリーが利用できない場合、代替として'(summary)'が表示されます -->
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>